@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

* {
  border: 1px solid hsla(1, 3%, 70%, 1);

}

.Header {
  text-align: center;
  font-family: Oswald, sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: hsla(1, 3%, 70%, 1);
  background-image: url(https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg);
}

.HeaderLeft {
  float: left;
}

.HeaderRight {
  display: inline-block;
}

.Title {
  font-size: 80px;
  color: hsla(205, 100%, 100%, 1);
  margin-bottom: 0px;
  text-align: center;
}

.Subtitle {
  font-size: 14px;
  margin-top: 0px;
  text-align: center;
}

ul {
    display: inline;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.Main1, .Main2, .PostTitle, .Foot, .Base {
  font-family: Open Sans;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(1, 3%, 70%, 1);
  margin-bottom: 15px;

}

.Main1 img {
  height: 20px;
  width: 20px;
}

.Headfoot li {
  background-color: blue;
  color: hsla(205, 100%, 100%, 1);
}

.Headfoot img{
  background-color: black;
}

.Main2 {
  text-align: center;
}

.Main2 ul {
  font-size: 10px;
}

.PostTitle {
  font-size: 28px;
  text-align: center;
  color: blue;
}

.Foot {
  display: inline-block;
  color: hsla(1, 3%, 70%, 1);
  height: 25px;
  padding-top: 10px;
}

.Foot img {
  height: 100%;
  width: 100%;
  border: none;
  margin: 1px;
}

.image-caption {
  float: right;
  width: 250px;
  text-align: right;
}

a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.Base {
  display: inline-block;
}
