@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
/*Variables */
/* Colors */
/*Mixins */
* {
  border: 1px solid #b5b0b0; }

/* Header Formating */
.Header {
  text-align: center;
  font-family: "Oswald", sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  height: 520px;
  background-image: url(https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg); }

.Header li {
  display: inline-block;
  vertical-align: middle; }

.Title {
  font-size: 80px;
  color: white;
  margin-top: 222px;
  margin-bottom: 0px;
  text-align: center; }

.Subtitle {
  font-size: 14px;
  margin-top: 0px;
  text-align: center; }

.HeaderLeft {
  float: left;
  position: relative;
  top: 3%;
  left: 50px; }

.HeaderRight {
  float: right;
  position: relative;
  top: 24px;
  right: 50px; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

li {
  display: inline-block; }

.Main1, .Main2, .PostTitle, .Foot, .Base {
  margin: 10px auto;
  font-family: "Open Sans" Sans-serif; }

/* Main Formating */
.Main {
  top: 50%;
  left: 50%; }

.Table {
  display: table;
  margin: 0 auto; }

.Main li {
  display: inline-block;
  vertical-align: top;
  overflow: hidden; }

/* Left Side Main Formating */
.Main1 {
  width: 700px; }

h1 {
  color: #083554;
  font-size: 56px; }

.subheader {
  font-size: 11px; }

.Name {
  color: #106cb2; }

.Main1 img {
  height: 20px;
  width: 20px; }

.blockquote {
  color: #106cb2;
  font-size: 24px; }

.Headfoot {
  text-align: center; }

.Footbox {
  width: 187px;
  float: left;
  margin-right: 1px; }

.Footbox a.link {
  text-decoration: none;
  color: #fff; }

.imgbox,
.textbox {
  background-color: #5e676e;
  display: inline-block;
  padding: 1px 13px; }

.textbox {
  background-color: #a2b2be;
  padding: 1px 15px 1px 1px;
  margin-left: -4px; }

.Footbox:hover .textbox {
  background-color: #106DB3; }

.Footbox:hover .imgbox {
  background-color: black; }

/* Right Side Main Formating */
.Main2 {
  text-align: center;
  width: 280px; }

.Main2 li {
  font-size: 1px;
  margin-bottom: 0px; }

.Anne {
  color: #106cb2;
  font-size: 16px;
  margin-top: 0px; }

.SocialM {
  text-align: center;
  width: 200px;
  font-size: 12px; }

.SocialM li {
  padding-right: 10px;
  padding-left: 10px; }

.liException li {
  display: block;
  text-align: right; }

h2 {
  color: grey;
  text-height: 24px;
  margin-bottom: 0px; }

.Main2Text {
  text-align: left;
  margin-top: 0px; }

/* Post Formating */
.PostTitle {
  clear: both;
  text-align: center;
  color: #083554;
  font-size: 54px; }

/* Footer Formating */
.Foot {
  clear: both;
  display: inline-block; }

.box {
  width: 325px;
  height: 325px;
  overflow: hidden;
  position: relative;
  background-color: #106cb2; }

.box img {
  opacity: .2; }

.box p.text {
  color: #083554;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold; }

.box:hover img {
  opacity: 1; }

.box:hover p.text {
  color: #FFF; }

/* Base Formating */
.Base {
  background-color: #083554;
  color: grey;
  height: 74px;
  font-size: 12px; }

.BaseLeft {
  float: left;
  position: relative;
  padding-top: 1%;
  padding-left: 10%; }

.BaseLeft li {
  vertical-align: middle; }

.BaseRight {
  float: right;
  position: relative;
  padding-top: 2.5%;
  padding-right: 10%; }

/*# sourceMappingURL=main.css.map */
