@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/*Variables */

/* Colors */
$color1: hsla(204, 82%, 18%, 1);
$color2: hsla(206, 84%, 38%, 1);
$color3: grey;
$color4: hsla(205, 8%, 40%, 1);
$color5: hsla(206, 18%, 69%, 1);
$color6: #fff;
$color7: #106DB3;
$color8: black;
$color9: #FFF;

$fontfamily1: "Oswald", sans-serif;
$fontfamily2: "Open Sans" Sans-serif;

$std0: 0px;
$std-4: -4px;
$std1: 1px;
$std2: 2px;
$std5: 5px;
$std6: 6px;
$std10: 10px;
$std11: 11px;
$std12: 12px;
$std13: 13px;
$std14: 14px;
$std15: 15px;
$std16: 16px;
$std20: 20px;
$std24: 24px;
$std28: 28px;
$std50: 50px;
$std54: 54px;
$std56: 56px;
$std74: 74px;
$std80: 80px;
$std102: 102px;
$std200: 200px;
$std250: 250px;
$std280: 280px;
$std325: 325px;
$std520: 520px;
$std700: 700px;

/*Mixins */

@mixin box1(){
  width: $std200;
  float: left;
  margin-right: $std1;
}

body {
  margin: 0px auto;
}


/* Header Formating */

.Header {
  text-align: center;
  font-family: $fontfamily2;
  border-bottom-style: solid;
  border-width: $std1;
  height: $std520;
  background-image: url(https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg);
  margin: 0px auto;
  width: 1300px;


  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.Title {
  font-size: $std102;
  color: hsla(205, 100%, 100%, 1);
  padding-top: 190px;
  margin-top: 0px;
  margin-bottom: $std0;
  height: 110px;
  text-align: center;
  text-transform: uppercase;

}

.Subtitle {
  font-size: $std14;
  margin-top: 12px;
  text-align: center;
}

.HeaderLeft {
  float: left;
  position: relative;
  top: 10px;
  left: 140px;
  text-transform: uppercase;
}

.HeaderRight {
  float: right;
  position: relative;
  top: 19px;
  right: 170px;
  font-family:$fontfamily1;
  text-transform: uppercase;

  a {
    text-decoration: none;
    font-size: $std16;
    color: $color1;
  }
}

ul {
    list-style-type: none;
    padding: $std0;
    margin: $std0;
}

li {
  display: inline-block;
  padding: $std0;
  margin: $std0;
}

.Main1, .Main2, .PostTitle, .Foot, .Base {
  margin: $std0 auto;
  font-family: $fontfamily2;
}

/* Main Formating */

.Main {
  top: 50%;
  left: 50%;
}

.Table {
  display: table;
  margin: 0 auto;
}

.Main li{
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
}

/* Left Side Main Formating */

.Main1 {
  width: $std700;
}

h1 {
  color: $color1;
  font-size: 62px;
  font-family:$fontfamily1;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.subheader {
  font-size: $std11;

  .Name {
    color: $color2;
  }

  a {
    text-decoration: underline;
    color: $color3;
  }
}

.Main1 img {
  height: $std20;
  width: $std20;
}

.blockquote {
  color: $color2;
  font-size: $std24;
  border-left: $std2 solid $color3;
  padding-left: $std16;
  text-transform: uppercase;
}

.Headfoot {
  text-align: center;
}

.Footbox {
  @include box1;

  a.link {
  text-decoration: none;
  color: $color6;
  }
}

.imgbox,
.textbox {
  background-color: $color4;
  display: inline-block;
  padding: $std1 $std13;
}

.textbox {
  background-color: $color5;
  padding: $std1 $std15 $std6 $std10 ;
  margin-left: $std-4;
}

.Footbox:hover{

  .textbox {
    background-color: $color7;
  }

  .imgbox {
    background-color: $color8;
  }
}

/* Right Side Main Formating */

.Main2 {
  text-align: center;
  width: $std280;
}

.Main2 li {
  font-size: $std12;
  margin-bottom: $std0;
}

.Main2box1 {
  padding-top: $std80;
  padding-bottom: $std56;

  .Anne {
    color: $color2;
    font-size: $std16;
    margin: $std0;
    text-transform: uppercase;
    height: 18px;
    margin-top: 5px;
  }

  .SocialM {
    text-align: center;
    width: $std200;
    font-size: $std12;
  }

  .SocialM li {
    padding-right: $std10;
    padding-left: $std10;
  }

}

.liException li {
  display: block;
  text-align: right;

  a {
    text-decoration: underline;
    color: $color3;
  }
}

h2 {
  color: $color2;
  font-size: 16px;
  margin-top: 48px;
  margin-bottom: $std0;
  font-family:$fontfamily1;
  text-transform: uppercase;
}

.Main2Text {
  text-align: left;
  margin-top: $std0;
  color: $color3;

  a {
    text-decoration: underline;
    color: $color3;
  }
}

/* Post Formating */

.PostTitle {
  clear: both;
  text-align: center;
  color: $color1;
  font-size: 62px;
  font-family:$fontfamily1;
  text-transform: uppercase;
  margin-bottom: 28px;
  border-top: $std1 solid $color3;
}

/* Footer Formating */

.Foot {
  clear: both;
  display: inline-block;
  font-family:$fontfamily1;
  margin: 0px auto;
  height: $std325;
  width: 1350px;
  text-align: center;

  a {
    text-decoration: none;
    font-size: 0px;
  }

  ul {
    height: $std325;
  }

  .box {
    width: $std325;
    height: $std325;
    overflow: hidden;
    position: relative;
    background-color: $color2;
    text-align: left;

    img {
      opacity: .2;
      height: $std325;

    }


    p.text {
    color: $color1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 $std15;
    font-size: $std28;
    text-transform: uppercase;
    font-weight: bold;
    }

    :hover img {
      opacity: 1;
    }

    :hover p.text {
      color: $color9;
    }
  }
}

/* Base Formating */

.Base {
  background-color: $color1;
  color: $color3;
  height: 100px;
  font-size: $std12;
  width: 1300px;
}

.BaseLeft {
  float: left;
  position: relative;
  padding-top: 1%;
  padding-left: 10%;

  li {
    vertical-align: middle;
  }
}

.BaseRight {
  float: right;
  position: relative;
  padding-top: 2.5%;
  padding-right: 10%;
}

.Innerbox {
  padding-left: $std10;
  padding-right: $std10;
  border-right: $std1 solid $color3;
}

.Endbox {
  padding-left: $std10;
  padding-right: $std10;
}
