@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

/*Variables */

$color1: #083452;
$color2: hsla(206,84%,38%,1);
$color3: grey;

$font1: Oswald, sans serif;
$font2: Open+Sans;

$std1: 10px;
$std2: 50px;
$std3: 75px;
$std4: 100px;

/*Mixins */

@mixin box1(){
  width: 187px;
  float: left;
  margin-right: $std1;
}

* {
  border: 1px solid hsla(1, 3%, 70%, 1);
}


/* Header Formating */

.Header {
  text-align: center;
  font-family: Oswald, sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: hsla(1, 3%, 70%, 1);
  height: 520px;
  background-image: url(https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg);
}

.Header li {
    display: inline-block;
    vertical-align: middle;
}

.Title {
  font-size: 80px;
  color: hsla(205, 100%, 100%, 1);
  margin-top: 222px;
  margin-bottom: 0px;
  text-align: center;
}

.Subtitle {
  font-size: 14px;
  margin-top: 0px;
  text-align: center;
}

.HeaderLeft {
  float: left;
  position: relative;
  top: 3%;
  left: $std2;
}

.HeaderRight {
  float: right;
  position: relative;
  top: 24px;
  right: $std2;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
  display: inline-block;
}

.Main1, .Main2, .PostTitle, .Foot, .Base {
  margin: 10 auto;
  font-family: "Open Sans" Sans-serif;
}

/* Main Formating */

.Main {
  top: 50%;
  left: 50%;
}

.Table {
  display: table;
  margin: 0 auto;
}

.Main li{
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
}

/* Left Side Main Formating */

.Main1 {
  width: 700px;
}

h1 {
  color: $color1;
  font-size: 56px;
}

.subheader {
  font-size: 11px;
}

.Name {
  color: $color2;
}

.Main1 img {
  height: 20px;
  width: 20px;
}

.blockquote {
  color: $color2;
  font-size: 24px;
}

.Headfoot {
  text-align: center;
}

.Footbox {
  @include box1;
}

.Footbox a.link {
  text-decoration: none;
  color: #fff;
}

.imgbox,
.textbox {
  background-color: hsla(205,8%,40%,1);
  display: inline-block;
  padding: 10px 13px;
}

.textbox {
  background-color: hsla(206,18%,69%,1);
  padding: 10px 15px 10px 10px;
  margin-left: -4px;
}

.Footbox:hover .textbox {
    background-color: #106DB3;
}

.Footbox:hover .imgbox {
    background-color: black;
}


/* Right Side Main Formating */

.Main2 {
  text-align: center;
  width: 280px;
}

.Main2 li {
  font-size: 10px;
  margin-bottom: 0px;
}

.Anne {
  color: $color2;
  font-size: 16px;
  margin-top: 0px;
}

.SocialM {
  text-align: center;
  width: 200px;
  font-size: 12px;
}

.SocialM li {
  padding-right: 5.5px;
  padding-left: 5.5px;
}

.liException li {
  display: block;
  text-align: right;
}

h2 {
  color: $color3;
  text-height: 24px;
  margin-bottom: 0px;
}

.Main2Text {
  text-align: left;
  margin-top: 0px;
}

/* Post Formating */

.PostTitle {
  clear: both;
  font-size: 28px;
  text-align: center;
  color: $color1;
  font-size: 54px;
}

/* Footer Formating */

.Foot {
  clear: both;
  display: inline-block;
}

.box {
  width: 325px;
  height: 325px;
  overflow: hidden;
  position: relative;
  background-color: hsla(206,84%,38%,1);
}

.box img {
  opacity: .2;
}

.box p.text {
  color: hsla(204,82%,18%,1);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.box:hover img {
  opacity: 1;
}
.box:hover p.text {
  color: #FFF;
}

.image-caption {
  float: right;
  width: 250px;
  text-align: left;
}

a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Base Formating */

.Base {
  background-color: #083452;
  color: grey;
  height: 74px;
  font-size: 12px;
}

.BaseLeft {
  float: left;
  position: relative;
  padding-top: 1%;
  padding-left: 10%
}

.BaseLeft li {
  vertical-align: middle;
}

.BaseRight {
  float: right;
  position: relative;
  padding-top: 2.5%;
  padding-right: 10%;
}
